- breadcrumb_title _("Preferences")
- page_title _("Preferences")
- @content_class = "limit-container-width" unless fluid_layout

%section.settings.as-email.no-animate#js-email-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Email')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Various email settings.')
  .settings-content
    = render 'email'

%section.settings.as-help-page.no-animate#js-help-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Help page')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Help page text and support page url.')
  .settings-content
    = render 'help_page'

%section.settings.as-pages.no-animate#js-pages-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Pages')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Size and domain settings for static websites')
  .settings-content
    = render 'pages'

%section.settings.as-realtime.no-animate#js-realtime-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Real-time features')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Change this value to influence how frequently the GitLab UI polls for updates.')
  .settings-content
    = render 'realtime'

%section.settings.as-background.no-animate#js-background-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Background jobs')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Configure Sidekiq job throttling.')
  .settings-content
    = render 'background_jobs'

%section.settings.as-gitaly.no-animate#js-gitaly-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Gitaly')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Configure Gitaly timeouts.')
  .settings-content
    = render 'gitaly'
